html,body{
  height: 100%;
  margin: 0;
  background-image: url("index.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;

  font-family: 'courier',monospace;
  font-weight: 200;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.wrapper{
  display: flex;
  position: relative;

}
.utilities{
  position: fixed;
  bottom: auto;
  right: 10px;
  width: 250px;
  height: 100%;
}
.wrapper .utilities{
  position: fixed;
  width: 200px;
  height: 100%;
/*  background: black;*/
  padding: 30px 0;
}
.wrapper .utilities h2{
  color: white;
  text-transform: uppercase;
  user-select: none;
  line-height: 70px;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;

}
.wrapper .utilities ul li{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: : 1px solid rgba(225,225,225,0.05);
}
.wrapper .utilities ul li a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  box-sizing: border-box;
  border-top: 1px solid rgba(225, 225,225, 0.1);
  border-bottom: 1px solid black;
  transition: .4s;
  color: white;

}
.wrapper .utilities ul li:hover{
  padding-left: 100px;

}
.wrapper .utilities ul li a i{
  margin-right:   10px;
}
/*FOOTER*/
.footer{
  background: #eae7d9;
  margin-left: -10px;
                margin-right: -8px;
                margin-top: -8px;
                background: #dee3e2;
                position: absolute;
                bottom: 0;
                padding: 20px;
                width: 100%;
                height: 190px;
}
.footer .footer-bottom{
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  bottom: 0px;
  width: 100%;
}


/*#check{
  display: none;
}
label #btn, label#cancel{
  position: absolute;
  cursor: pointer;
  background: red;
  border-radius: 3px;

}
label #btn{
  left: 40px;
  top:25px;
  font-size: 35px;
  color: red;
  padding: 6px 12px;
}
label #cancel{
  z-index: 1111;
  left: 195px;
  top: 18px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
}
#check:checked ~.utilities{
  left: 0;

}
#check:checked ~ label #btn{
  left: 400px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 400px;
}*/

.container{
  width: 80%;
  margin: 0 auto;
}
header::after{
  content: '';
  display: table;
  clear: both;
}
nav{
  float: left;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 50px;
  padding-top: 27px;
  position: relative;
}
nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}
nav a:hover{
  color: grey;
}
