body{
  background-image : url(https://www.publicdomainpictures.net/pictures/30000/velka/film-background-13340679666UC.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: scroll;

}
